<section class="advantages">
	<div class="container">
		<div class="advantages__header">
			<span class="advantages__header-value">
				90%
			</span>
			<h2 class="advantages__header-text">
				наших партнеров выбирают&nbsp;нас для оптовых закупок парфюмерии
			</h2>
		</div>

		<div class="advantages__wrapper">
			<div class="advantages__img">
				<img src="img/woman.png" alt="">
				<div class="advantages__img-text">
					<span>
						Мы внимательно <br>
						относимся к выбору <br>
						ассортимента и стремимся
						к безупречному <br>
						обслуживанию <br>
						клиентов
					</span>
				</div>
			</div>

			<ul class="advantages__list">
				<li class="advantages__item">
					<h3 class="advantages__heading">7 лет на рынке</h3>
					<p class="advantages__text">Занимаемся оптовыми продажами парфюмерии с 2017 года. Мы можем предложить конкурентные цены и обеспечить быструю доставку заказов. </p>
				</li>
				<li class="advantages__item">
					<h3 class="advantages__heading">Работаем без посредников</h3>
					<p class="advantages__text">Обеспечиваем высокое качество продукции и своевременные поставки благодаря прямым контрактам с производителями.</p>
				</li>
				<li class="advantages__item">
					<h3 class="advantages__heading">Тестерные программы</h3>
					<p class="advantages__text">Предоставляем возможность самостоятельно убедиться в качестве нашей парфюмерии. Это позволит вам принять обоснованное решение о покупке и убедиться в подлинности и эффективности нашей продукции.</p>
				</li>
				<li class="advantages__item">
					<h3 class="advantages__heading">Поддержка в бизнесе</h3>
					<p class="advantages__text">Оказываем поддержку в реализации нашей продукции. Учитываем особенности вашего бизнеса, анализируем конкурентов и разрабатываем стратегию продвижения, которая учитывает специфику вашей ниши.</p>
				</li>
				<li class="advantages__item">
					<h3 class="advantages__heading">Удобная доставка</h3>
					<p class="advantages__text">Предлагаем гибкую систему доставки товара, позволяющую индивидуально обсуждать оптимальные условия для каждого клиента, которая обеспечивает удобство и экономичность процесса</p>
				</li>
				<li class="advantages__item">
					<h3 class="advantages__heading">Наличие сертификатов</h3>
					<p class="advantages__text">Вся ввозимая нами продукция проходит маркировку в системе честный знак. Предоставляем сертификаты соответствия качества на всю продукцию.</p>
				</li>
			</ul>
		</div>
	</div>
</section>