<section class="coop">
	<div class="container">
		<div class="coop__content">

			<div class="coop__form">
				<h3 class="coop__form-heading">
					стать оптовым покупателем
				</h3>
				<form class="form" action="">
					<input class="form__input" type="text" name="name" required="" placeholder="Ваше имя">
					<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="+7 (000) 000 - 00 - 00" maxlength="18">
					<input class="form__input form__input--mail" type="email" name="mail" required="" placeholder="ваша_почта@email.com">
					<input class="form__input" type="text" name="inn" required="" placeholder="ИНН">

					<button class="form__button button button--green" type="submit">Стать партнером</button>

					<div class="form__wrapper form__wrapper--agreement">
						<input class="form__checkbox" id="agreement-doc" type="checkbox" name="agreement" checked required="">
						<label class="form__label form__label--checkbox" for="agreement-doc">
							Нажимая на кнопку, вы даете согласие на обработку персональных данных
						</label>
					</div>
				</form>
			</div>

			<div class="coop__wrapper">
				<h2 class="coop__heading">МЫ Открыты к сотрудничеству:</h2>

				<div class="coop__content coop__content--list">
					<ul class="coop__list">
						<li class="coop__item">
							<span class="coop__icon coop__icon--bags icon">
								<svg class="svg-icon" viewBox="0 0 46 47" width="46" height="47"><use xlink:href="img/sprite.svg#sprite--bags"></use></svg>
							</span>
							<span class="coop__text">
								Крупными и мелкими торговыми площадками
							</span>
						</li>
						<li class="coop__item">
							<span class="coop__icon icon">
								<svg class="svg-icon" viewBox="0 0 39 40" width="39" height="40"><use xlink:href="img/sprite.svg#sprite--bag-marker"></use></svg>
							</span>
							<span class="coop__text">
								Сетевыми магазинами
							</span>
						</li>
						<li class="coop__item">
							<span class="coop__icon icon">
								<svg class="svg-icon" viewBox="0 0 41 42" width="41" height="42"><use xlink:href="img/sprite.svg#sprite--hand-app"></use></svg>
							</span>
							<span class="coop__text">
								Интернет-магазинами
							</span>
						</li>
						<li class="coop__item">
							<span class="coop__icon icon">
								<svg class="svg-icon" viewBox="0 0 43 44" width="43" height="44"><use xlink:href="img/sprite.svg#sprite--label"></use></svg>
							</span>
							<span class="coop__text">
								Опенмаркетами
							</span>
						</li>
					</ul>

					<div class="coop__img">
						<img src="img/woman-boxes.png" alt="">
					</div>
				</div>
			</div>

		</div>
	</div>
</section>