<div class="footer">
	<div class="footer__wrapper">
		<div class="footer__main">
			<div class="container">
				<div class="footer__columns">
					<a href="/" class="footer__logo">
						<img src="img/logo-white.svg" alt="site logo">
						<span>Производство систем вентиляции и <br> дымоудаления с доставкой по всей РФ</span>
					</a>

					<div class="footer__column footer__column--equipment">
						<h2 class="footer__caption">Оборудование</h2>
						<ul class="footer__equipment">
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Крышные вентиляторы</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Радиальные вентиляторы</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Осевые вентиляторы</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Канальные вентиляторы</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Стаканы монтажные, дополнительная комплектация</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Клапаны воздушного и специального назначения</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Противопожарные клапаны</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Отопительное оборудование и нагреватели</a></li>
							<li class="footer__equipment-item"><a href="/" class="footer__equipment-link">Автоматика и шкафы управления</a></li>
						</ul>
					</div>

					<div class="footer__column footer__column--nav">
						<ul class="footer__nav">
							<li class="footer__nav-item"><a href="/" class="footer__nav-link">О КОМПАНИИ</a></li>
							<li class="footer__nav-item"><a href="/" class="footer__nav-link">ДОСТАВКА И ОПЛАТА</a></li>
							<li class="footer__nav-item"><a href="news.html" class="footer__nav-link">новости</a></li>
							<li class="footer__nav-item"><a href="/" class="footer__nav-link">СЕРТИФИКАТЫ</a></li>
							<li class="footer__nav-item"><a href="catalog.html" class="footer__nav-link">каталоги</a></li>
							<li class="footer__nav-item"><a href="/" class="footer__nav-link">ПРАЙС-ЛИСТ</a></li>
							<li class="footer__nav-item"><a href="/" class="footer__nav-link">партнеры</a></li>
							<li class="footer__nav-item"><a href="/" class="footer__nav-link">СДЕЛАТЬ ЗАКАЗ</a></li>
							<li class="footer__nav-item"><a href="contacts.html" class="footer__nav-link">контакты</a></li>
						</ul>
					</div>

					<div class="footer__column footer__column--сontacts">
						<div class="footer__tel">
							<span>Бесплатный звонок <br> по России</span>
							<div class="footer__tel-list">
								<a href="tel:+88007758841">8 (800) 775-88-41</a>
								<a href="tel:+84951034135">8 (495) 103-41-35</a>
							</div>
						</div>

						<div class="footer__mail">
							<span>Почта для приема заказов:</span>
							<a href="mailto:info@mos-clim.ru">info@mos-clim.ru</a>
						</div>

						<address class="footer__address">
							г. Москва, Большая <br> Черемушкинская ул., 34, <br>
							офис 237
						</address>
					</div>
				</div>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="container">
				<div class="footer__bottom-content">
					<a class="footer__bottom-privacy" href="#">Политика конфиденциальности</a>

					<span class="footer__bottom-copy">
						&copy; Copyright 2024 г.
					</span>

					<a class="footer__bottom-studio" href="#" target="_blank" rel="nofollow">
						<span>Сделано в</span>
						<img src="img/sheer.svg" alt="studio logo">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-element="orderForm" class="popup">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<button class="popup__close" data-element="popupClose">x</button>
		<button class="popup__swipe" data-element="popupSwipe"></button>
		
		<h2 class="popup__name">Для заказа напишите на почту:</h2>
		<a class="popup__name" href="mailto:info@mos-clim.ru">info@mos-clim.ru</a>
		
		<!-- <h2 class="popup__name">Обратная связь</h2> -->

		<!-- <form class="form" action="">

			<input class="form__input" type="text" name="name" required="" placeholder="Имя">
			<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="Телефон" maxlength="18">
			<textarea class="form__input" name="message" placeholder="Сообщение"></textarea>

			<button class="form__button button button--green" type="submit">Отправить</button>

			<div class="form__wrapper form__wrapper--agreement">
				<input class="form__checkbox" id="agreement-doc" type="checkbox" name="agreement" checked required="">
				<label class="form__label form__label--checkbox" for="agreement-doc">Cогласие на обработку персональных данных</label>
			</div>
		</form> -->


	</div>
</div>