<section class="map">
	<div class="container">
		<div class="map__header">
			<h2 class="assortment__header-text">
				Поставляем парфюмерию оптом по всей России
			</h2>
		</div>

		<div class="map__mobile">
			<img src="img/mobile-map.svg" alt="russia map">
			<ul class="map__list">
				<li class="map__item">Москва</li>
				<li class="map__item">Ростов на Дону</li>
				<li class="map__item">Сочи</li>
				<li class="map__item">Астрахань</li>
				<li class="map__item">Ставрополь</li>
				<li class="map__item">Краснодар</li>
				<li class="map__item">Симферополь</li>
				<li class="map__item">Калининград</li>
				<li class="map__item">Череповец</li>
				<li class="map__item">Санкт-Петербург</li>
				<li class="map__item">Тамбов</li>
				<li class="map__item">Пенза</li>
				<li class="map__item">Рязань</li>
				<li class="map__item">Иркутск</li>
				<li class="map__item">Барнаул</li>
				<li class="map__item">Абакан</li>
				<li class="map__item">Красноярск</li>
				<li class="map__item">Донецк</li>
				<li class="map__item">Мариуполь</li>
				<li class="map__item">Головка</li>
				<li class="map__item">Луганск</li>
				<li class="map__item">Белгород</li>
				<li class="map__item">Липецк</li>
				<li class="map__item"">Киров</li>
				<li class="map__item">Ижевск</li>
				<li class="map__item">Волгоград</li>
				<li class="map__item">Самара</li>
				<li class="map__item">Воронеж</li>
			</ul>
		</div>

		<div class="map__desktop">
			<img class="map__map" src="img/map.svg" alt="russia map">

			<span class="map__marker map__marker--moskva">
				<span class="map__marker-label">
					Москва
				</span>
			</span>
			<span class="map__marker map__marker--rostov">
				<span class="map__marker-label">
					Ростов&nbsp;на&nbsp;Дону
				</span>
			</span>
			<span class="map__marker map__marker--sochi">
				<span class="map__marker-label">
					Сочи
				</span>
			</span>
			<span class="map__marker map__marker--astrakhan">
				<span class="map__marker-label">
					Астрахань
				</span>
			</span>
			<span class="map__marker map__marker--stavropol">
				<span class="map__marker-label">
					Ставрополь
				</span>
			</span>
			<span class="map__marker map__marker--krasnodar">
				<span class="map__marker-label">
					Краснодар
				</span>
			</span>
			<span class="map__marker map__marker--simferopol">
				<span class="map__marker-label">
					Симферополь
				</span>
			</span>
			<span class="map__marker map__marker--kaliningrad">
				<span class="map__marker-label">
					Калининград
				</span>
			</span>
			<span class="map__marker map__marker--cherepovets">
				<span class="map__marker-label">
					Череповец
				</span>
			</span>
			<span class="map__marker map__marker--spb">
				<span class="map__marker-label">
					Санкт-Петербург
				</span>
			</span>
			<span class="map__marker map__marker--tambov">
				<span class="map__marker-label">
					Тамбов
				</span>
			</span>
			<span class="map__marker map__marker--penza">
				<span class="map__marker-label">
					Пенза
				</span>
			</span>
			<span class="map__marker map__marker--ryazan">
				<span class="map__marker-label">
					Рязань
				</span>
			</span>
			<span class="map__marker map__marker--irkutsk">
				<span class="map__marker-label">
					Иркутск
				</span>
			</span>
			<span class="map__marker map__marker--barnaul">
				<span class="map__marker-label">
					Барнаул
				</span>
			</span>
			<span class="map__marker map__marker--abakan">
				<span class="map__marker-label">
					Абакан
				</span>
			</span>
			<span class="map__marker map__marker--krasnoyarsk">
				<span class="map__marker-label">
					Красноярск
				</span>
			</span>
			<span class="map__marker map__marker--donetsk">
				<span class="map__marker-label">
					Донецк
				</span>
			</span>
			<span class="map__marker map__marker--mariupol">
				<span class="map__marker-label">
					Мариуполь
				</span>
			</span>
			<span class="map__marker map__marker--golovka">
				<span class="map__marker-label">
					Головка
				</span>
			</span>
			<span class="map__marker map__marker--lugansk">
				<span class="map__marker-label">
					Луганск
				</span>
			</span>
			<span class="map__marker map__marker--belgorod">
				<span class="map__marker-label">
					Белгород
				</span>
			</span>
			<span class="map__marker map__marker--lipeck">
				<span class="map__marker-label">
					Липецк
				</span>
			</span>
			<span class="map__marker map__marker--kirov">
				<span class="map__marker-label">
					Киров
				</span>
			</span>
			<span class="map__marker map__marker--izhevsk">
				<span class="map__marker-label">
					Ижевск
				</span>
			</span>
			<span class="map__marker map__marker--volgograd">
				<span class="map__marker-label">
					Волгоград
				</span>
			</span>
			<span class="map__marker map__marker--samara">
				<span class="map__marker-label">
					Самара
				</span>
			</span>
			<span class="map__marker map__marker--voronezh">
				<span class="map__marker-label">
					Воронеж
				</span>
			</span>
		</div>
	</div>
</section>