<table>
	<tr>
		<th >Производитель:</th>
		<td >LAZELL Parfums</td>
	</tr>
	<tr>
		<th >Название:</th>
		<td >Парфюмированная вода</td>
	</tr>
	<tr>
		<th >Для кого:</th>
		<td >Унисекс</td>
	</tr>
	<tr>
		<th >Группа ароматов:</th>
		<td >Цветочные</td>
	</tr>
	<tr>
		<th >Верхние ноты:</th>
		<td >Альдегиды, персик</td>
	</tr>
	<tr>
		<th >Средние ноты:</th>
		<td >Белые цветы, жасмин, фиалка</td>
	</tr>
	<tr>
		<th >Базовые ноты:</th>
		<td >Дубовый мох, сандал</td>
	</tr>
	<tr>
		<th >Объём:</th>
		<td >100 мл</td>
	</tr>
</table>