<section class="work">
	<div class="container">
		<div class="work__header">
			<h2 class="work__header-text">
				Работать с нами - просто
			</h2>
		</div>

		<ul class="work__steps">
			<li class="work__step work__step--1">
				<span class="work__step-number">01</span>
				<span class="work__step-text">
					Вы оставляете заявку на нашем сайте или по номеру телефона, наш менеджер связывается
					с вами для уточнения деталей заказа.
				</span>
			</li>
			<li class="work__step work__step--2">
				<span class="work__step-number">02</span>
				<span class="work__step-text">
					Оформляем вас как оптового покупателя, запрашиваем все необходимые данные.
					После этого предоставляем вам доступ к оптовым прайсам нашей продукции.
				</span>
			</li>
			<li class="work__step work__step--3">
				<span class="work__step-number">03</span>
				<span class="work__step-text">
					Вы получаете оптовые прайсы нашей продукции. Наш менеджер помогает выбрать товары для закупки.
				</span>
			</li>
			<li class="work__step work__step--4">
				<span class="work__step-number">04</span>
				<span class="work__step-text">
					Готовим и заключаем договор. Формируем счет.
				</span>
			</li>
			<li class="work__step work__step--5">
				<span class="work__step-number">05</span>
				<span class="work__step-text">
					Собираем ваш заказ и отправляем в ваш город удобным для вас способом.
				</span>
			</li>
		</ul>

		<form class="form" action="">
			<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="+7 XXX XXX XX XX" maxlength="18">
			<button class="work__button button" type="submit">Стать оптовым покупателем</button>
		</form>

	</div>
</section>