.catalog-card {
	padding: 64px 0;

	&__header {
		position: relative;
		display: flex;
		gap: 32px;
		align-items: center;
		padding-bottom: 42px;
		margin-bottom: 32px;

		& span {
			font-weight: 700;
		}

		&::before {
			position: absolute;
			z-index: 1;
			content: '';
			bottom: 1px;
			width: 60%;
			height: 1px;
			background-color: #D8B075;
		}

		&::after {
			position: absolute;
			z-index: 2;
			content: '';
			bottom: 0;
			width: 30%;
			height: 3px;
			background-color: #AA804F;
		}

		&-text {
			display: inline-block;
			width: 100%;
			font-family: Optima;
			font-size: 42px;
			font-weight: 400;
			line-height: 54.6px;
			letter-spacing: -0.01em;
			text-align: left;
			color: #181C1D;
			text-transform: uppercase;
		}

		&--inner {
			margin-bottom: 0;

			.service__header-text {
				width: 100%;
			}

			&::before {
				width: 100%;
			}

			&::after {
				width: 50%;
			}
		}

		@media (max-width: 1500px) {
			flex-direction: column;

			&::before {
				width: 100%;
			}

			&::after {
				left: 0;
				width: 50%;
			}

			&-value {
				font-size: 150px;
				font-weight: 400;
				line-height: 190px;
			}

			&-text {
				font-size: 32px;
				line-height: 45px;
				width: 100%;
				text-align: center;
			}
		}

		@media (max-width: 1150px) {
			font-size: 24px;
			line-height: 32px;
			word-wrap: break-word;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		background-color: #F9FAFA;
		padding: 16px;
		gap: 26px;
		border-radius: 16px;
		margin-bottom: 32px;

		@media (max-width: 1150px) {
			flex-direction: column-reverse;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		margin-left: auto;

		@media (max-width: 1500px) {
			width: 50%;
		}

		@media (max-width: 1150px) {
			width: 100%;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			margin: 32px 0;
		}

		td, th {
			padding: 10px;
			text-align: left;
			font-family: Onest;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.4px;
			text-align: left;

			@media (max-width: 900px) {
				font-size: 13px;
				line-height: 16px;
			}
		}

		th {
			color: #181C1D6B;
			font-weight: 300;
		}
	}

	&__slider {
		display: flex;

		@media (max-width: 1500px) {
			flex-direction: column-reverse;
			gap: 24px;
		}
	}

	&__button {
		margin-top: 32px;
		margin-bottom: 16px;
		color: #fff;
		background-color: #CE4C4C;
		max-width: 362px;

		@media (hover: hover) {
			&:hover {
				background-color: darken($color: #CE4C4C, $amount: 15%);
			}
		}

		@media (max-width: 1500px) {
			max-width: 100%;
			width: 100%;
			height: 45px;
		}
	}

	&__controls {
		margin-bottom: 32px;
		display: flex;
		gap: 8px;
		width: 70%;

		@media (max-width: 1340px) {
			width: 100%;
		}

		@media (max-width: 740px) {
			width: 100%;
			flex-direction: column;
		}

		&-button {
			flex-shrink: 0;
			height: 46px;
			width: 261px;
			height: 45px;

			@media (max-width: 1340px) {
				flex-grow: 1;
			}

			@media (max-width: 740px) {
				width: 100%;
			}

			&--oz {
				background-color: #0069FF;

				@media (hover: hover) {
					&:hover {
						background-color: darken($color: #0069FF, $amount: 15%);
					}
				}
			}

			&--wb {
				background-color: #BE11A5;

				@media (hover: hover) {
					&:hover {
						background-color: darken($color: #BE11A5, $amount: 15%);
					}
				}
			}
		}
	}
}


.catalog-card__slider-main {
	width: 558px;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;

	@media (max-width: 1500px) {
		width: 500px;
	}

	@media (max-width: 1150px) {
		width: 100%;
		height: 350px;
	}
}
.catalog-card__slider-main .slick-slide {
	flex-shrink: 0;
	display: flex;
	position: relative;
	cursor: pointer;
	outline: none;
	width: 100%;
	height: 600px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: border .3s;
	overflow: hidden;

	@media (max-width: 1150px) {
		height: 350px;
	}
}
.catalog-card__slider-main .slick-slide img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.slider-nav-thumbnails {
	width: 150px;
	display: flex;
	margin-right: 16px;

	@media (max-width: 1500px) {
		width: 500px;
		margin: 0;
	}

	@media (max-width: 1150px) {
		width: 100%;
	}

}
.slider-nav-thumbnails .slick-track {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;

	@media (max-width: 1500px) {
		flex-direction: row;
		width: 100%;
		gap: 16px;
	}
}
.slider-nav-thumbnails .slick-slide {
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
	cursor: pointer;
	outline: none;
	width: 150px;
	height: 150px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: border .3s;
	overflow: hidden;

	@media (max-width: 1150px) {
		width: 100px;
		height: 100px;
	}
}
.slider-nav-thumbnails .slick-slide.slick-current.slick-active {
	border: 1px solid #D8B075;
}
.slider-nav-thumbnails .slick-slide img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}