.catalog {
	padding: 50px 0;

	&__header {
		position: relative;
		display: flex;
		gap: 32px;
		align-items: center;
		padding-bottom: 42px;
		margin-bottom: 53px;

		&::before {
			position: absolute;
			z-index: 1;
			content: '';
			bottom: 1px;
			width: 60%;
			height: 1px;
			background-color: #D8B075;
		}

		&::after {
			position: absolute;
			z-index: 2;
			content: '';
			bottom: 0;
			width: 30%;
			height: 3px;
			background-color: #AA804F;
		}

		&-text {
			display: inline-block;
			width: 50%;
			margin-top: -18px;
			font-family: Optima;
			font-size: 42px;
			font-weight: 400;
			line-height: 54.6px;
			letter-spacing: -0.01em;
			text-align: left;
			color: #181C1D;
			text-transform: uppercase;
		}

		@media (max-width: 900px) {
			flex-direction: column;

			&::before {
				width: 100%;
			}

			&::after {
				left: 0;
				width: 50%;
			}

			&-text {
				font-size: 24px;
				line-height: 32px;
				width: 100%;
				text-align: center;
			}
		}
	}

	&__wrapper {
		display: flex;
		gap: 48px;
		justify-content: space-between;

		@media (max-width: 1300px) {
			gap: 28px;
		}

		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}

	&__menu {
		flex-shrink: 0;
		width: 364px;
		max-height: max-content;
		padding: 32px;
		border-radius: 16px;
		background-color: #F5F6F7;
		display: flex;
		flex-direction: column;
		gap: 42px;

		.catalog__menu-block {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;

			& button {
				width: 100%;
			}
		}

		&-controls {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;

			& button {
				width: 100%;
			}

			@media (max-width: 1000px) {
				&.is-hidden {
					display: none;
				}
			}
		}

		&-caption {
			font-family: Optima;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			line-height: 23.4px;
			text-align: left;
			color: #2E3237DB;
			margin-bottom: 24px;
			@media (max-width: 1000px) {display: none;}
		}

		&-toggles {
			display: flex;
			gap: 10px;
		}

		&-toggle {
			width: 33.333%;
			display: none;
			font-family: Optima;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			text-transform: uppercase;
			text-align: center;
			color: #2E3237DB;
			padding: 4px 8px;
			border-radius: 4px;
			transition: background-color .3s, box-shadow .3s;

			&.is-active {
				background-color: #DFC195;
				box-shadow: inset 0px 0px 10px 0px #74572d;
			}

			@media (max-width: 1000px) {
				display: flex;
				justify-content: center;
				margin: 0 auto;
				// margin-bottom: 16px;
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		&-item {
			display: flex;
			gap: 12px;
			align-items: center;

			&.is-current {
				.catalog__menu-brand {
					color: #AA804F;
				}
			}
		}

		&-icon {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			overflow: hidden;

			& svg {
				object-fit: contain;
			}
		}

		&-brand,
		&-country {
			font-family: Onest;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.4px;
			text-align: left;
		}

		&-brand {
			color: #181C1DA3;

			&.is-current {
				color: #AA804F;
			}
		}

		&-country {
			color: #181C1D52;
		}

		&-filters-caption {
			width: 100%;
			text-align: center;
			opacity: .5;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 8px;
			display: none;
			@media (max-width: 1000px) {display: inline-block;}
		}

		@media (max-width: 1400px) {
			width: 330px;
			padding: 32px 16px;
		}

		@media (max-width: 1000px) {
			display: flex;
			width: 100%;
			height: auto;
			gap: 0;
			padding: 10px 20px;

			.catalog__menu-block {
				height: 0;
				overflow: hidden;
				transition: height 0.3s;

				&.is-active {
					height: auto;
					padding: 24px 0;
				}
			}
		}
	}

	&__list {
		display: grid;
		gap: 16px;
		grid-template-columns: repeat(3, minmax(auto, 330px));
		list-style-type: none;
		padding: 0;

		@media (max-width: 1400px) {
			grid-template-columns: repeat(2, minmax(auto, 330px));
		}

		@media (max-width: 900px) {
			grid-template-columns: repeat(3, minmax(auto, auto));
		}

		@media (max-width: 800px) {
			grid-template-columns: repeat(2, minmax(auto, auto));
		}

		@media (max-width: 500px) {
			grid-template-columns: repeat(1, minmax(auto, auto));
		}

		&--news {
			grid-template-columns: repeat(4, minmax(auto, 330px));

			@media (max-width: 1300px) {
				grid-template-columns: repeat(3, minmax(auto, auto));
			}

			@media (max-width: 900px) {
				grid-template-columns: repeat(2, minmax(auto, auto));
			}

			@media (max-width: 650px) {
				grid-template-columns: repeat(1, minmax(auto, auto));
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		font-family: Optima;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		padding: 16px;
		border-radius: 16px;
		background-color: #EFF0F252;

		@media (max-width: 900px) {
			width: 100%;
			font-size: 14px;
			line-height: 20px;
		}

		&-description {
			font-size: 20px;
			line-height: 24px;
		}

		&-name {
			font-family: Optima;
			font-weight: 700;
			margin-bottom: 16px;
		}

		&-img {
			margin-top: auto;
			margin-bottom: 32px;
			position: relative;
			width: 100%;
			border-radius: 8px;
			overflow: hidden;

			& img {
				width: 100%;
				height: 100%;
				inset: 0;
				object-fit: cover;
			}
		}

		&-button {
			width: 100%;
			height: 50px;
			color: #fff;
			background-color: #CE4C4C;

			@media (hover: hover) {
				&:hover {
					background-color: darken($color: #CE4C4C, $amount: 15%);
				}
			}
		}

		&-news-caption {
			font-family: Optima;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			text-align: left;
			color: #2E3237;
		}

		&-news-text {
			font-family: Onest;
			font-size: 16px;
			font-weight: 400;
			line-height: 22.4px;
			text-align: left;
			color: #181C1D52;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3; /* Здесь указываем количество строк */
			overflow: hidden;
			text-overflow: ellipsis; /* Добавляет многоточие в конце */
		}

		&-news-button {
			font-family: Onest;
			font-size: 16px;
			font-weight: 400;
			line-height: 22.4px;
			text-align: left;
			text-decoration-line: underline;
			color: #AA804F;
			margin-top: auto;
		}

		&-news-link {
			.catalog__item-img {
				margin-top: 0;
				& img {
					transition: transform .3s;
				}
			}
			@media (hover: hover) {
				&:hover {
					background-color: darken($color: #EFF0F252, $amount: 15%);
					.catalog__item-img {
						& img {
							transform: scale(1.2);
						}
					}
				}
			}
		}

	}

	.form {
		align-items: flex-start;
		gap: 42px;

		@media (max-width: 1000px) {gap: 0;}

		.form__button--reset {
			background-color: #E5E8EA;
			color: #AEB7BE;

			@media (hover: hover) {
				&:hover {
					background-color: darken($color: #667884, $amount: 10%);
					color: #ffffff;
				}
			}
		}

		.form__label--checkbox {
			margin-top: 0;
			font-family: Onest;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.4px;
			text-align: left;
			color: #181C1DA3;
		}
	}
}