.contacts {
	padding: 50px 0;

	&__header {
		position: relative;
		display: flex;
		gap: 32px;
		align-items: center;
		padding-bottom: 42px;
		margin-bottom: 53px;

		&::before {
			position: absolute;
			z-index: 1;
			content: '';
			bottom: 1px;
			width: 60%;
			height: 1px;
			background-color: #D8B075;
		}

		&::after {
			position: absolute;
			z-index: 2;
			content: '';
			bottom: 0;
			width: 30%;
			height: 3px;
			background-color: #AA804F;
		}

		&-text {
			display: inline-block;
			width: 70%;
			font-family: Optima;
			font-size: 42px;
			font-weight: 400;
			line-height: 54.6px;
			letter-spacing: -0.01em;
			text-align: left;
			color: #181C1D;
			text-transform: uppercase;
		}

		@media (max-width: 900px) {
			flex-direction: column;

			&::before {
				width: 100%;
			}

			&::after {
				left: 0;
				width: 50%;
			}

			&-value {
				font-size: 150px;
				font-weight: 400;
				line-height: 190px;
			}

			&-text {
				font-size: 32px;
				line-height: 45px;
				width: 100%;
				text-align: center;
			}
		}
	}

	&__wrapper {
		display: flex;
		gap: 96px;
		margin-top: 64px;

		@media only screen and (max-width: 1500px) {
			gap: 36px;
		}

		@media only screen and (max-width: 1200px) {
			flex-direction: column-reverse;
		}		
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__data {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;

		@media only screen and (max-width: 1500px) {
			flex-wrap: wrap;
			gap: 24px;
		}

		&-name {
			font-family: Optima;
			font-size: 22px;
			font-weight: 700;
			line-height: 25.28px;
			text-align: left;
			color: #AA804F;
			text-transform: uppercase;
		}
	}

	&__phone {
		display: flex;
		flex-direction: column;

		.icons {
			display: flex;
			gap: 4px;

			&__link {
				width: 32px;
				height: 32px;
				background-color: #575A5F;
			}
		}

		&-wrapper {
			display: flex;
			gap: 16px;
			margin-right: 32px;
			margin-top: 16px;
		}

		&-list {
			display: flex;
			gap: 4px;
			flex-direction: column;
		}

		&-link {
			font-family: Onest;
			font-size: 16px;
			font-weight: 600;
			line-height: 20.4px;
			text-align: left;
			color: #2E3237;
			transition: opacity .3s;

			@media (hover: hover) {
				&:hover {
					opacity: .7;
				}
			}
		}
	}

	&__address {
		display: flex;
		flex-direction: column;

		& address {
			margin-top: 16px;
			margin-bottom: 8px;
			font-style: normal;
			font-size: 14px;
			line-height: 22px;
		}
	}

	&__mail {
		font-family: Onest;
		font-size: 14px;
		font-weight: 400;
		line-height: 17.85px;
		text-align: left;
		text-decoration-line: underline;
		text-decoration-style: solid;
		color: #AA804F;
		transition: opacity .3s;

		@media (hover: hover) {
			&:hover {
				opacity: .7;
			}
		}
	}

	&__map-wrapper {
		display: flex;
		height: 510px;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
	}

	&__rec {
		display: inline-block;
		margin-top: 32px;
		font-family: Onest;
		font-size: 14px;
		font-weight: 400;
		line-height: 17.85px;
		text-align: left;
		color: #181C1D52;
	}

	&__time {
		display: flex;
		flex-direction: column;

		&-content {
			display: inline-block;
			margin-top: 16px;
			font-family: Onest;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.4px;
			text-align: left;
			color: #181C1DA3;
		}
	}
}

.contacts__form {
	width: 532px;
	flex-shrink: 0;
	background-color: #F3F5F6;
	padding: 42px 72px;
	border-radius: 16px;
	margin-top: 0;

	@media only screen and (max-width: 1500px) {
		width: 33.3333%;
		padding: 20px;
		gap: 24px;
	}

	@media only screen and (max-width: 1200px) {
		width: 100%;
	}

	&-heading {
		font-family: Optima;
		font-size: 24px;
		font-weight: 700;
		line-height: 27.58px;
		text-align: center;
		color: #667884;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	&-caption {
		display: inline-block;
		font-family: Onest;
		font-size: 16px;
		font-weight: 400;
		line-height: 20.4px;
		text-align: center;
		color: #181C1D6B;
		margin-bottom: 32px;
		width: 100%;
		text-align: center;
	}

	textarea {
		border-radius: 16px;
		height: 248px;
		border: none;
		background-color: #ffffff;
		padding: 24px 42px;
		border: 1px solid #2E323729;
	}

	.form__button {
		margin-top: 34px;
	}
}

