.equipment {
	min-height: 774px;
	position: relative;
	padding: 70px 0 92px 0;

	@media only screen and (max-width: 769px) {
		padding: 40px 0;
	}

	&__logo {
		z-index: 0;
		position: absolute;
		top: -121px;
		left: 0;
		pointer-events: none;
	}

	&__caption {
		position: relative;
		z-index: 1;
		font-size: 40px;
		line-height: 56px;
		font-weight: 700;
		color: #214250;
		margin-bottom: 30px;

		@media only screen and (max-width: 769px) {
			font-size: 30px;
			line-height: 46px;
		}
	}

	&__list {
		display: grid;
		gap: 36px;
		list-style: none;
		padding: 0;
		margin: 0;
		grid-template-columns: repeat(4, 1fr);

		@media only screen and (max-width: 1400px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media only screen and (max-width: 1212px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media only screen and (max-width: 769px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	&__item {
		position: relative;
		background-color: #F7F8F5;
		padding: 10px;
		border-radius: 20px;
		display: flex;
		justify-content: stretch;
		align-items: stretch;
		// min-width: 333px;

		@media only screen and (max-width: 769px) {
			min-width: 100%;
			min-height: 200px;
		}
	}

	&__link {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

		@media (hover: hover) {
			&:hover {
				.equipment__arrow {
					background-color: darken($color: #79BF1B, $amount: 15%);
				}

				.equipment__name {
					opacity: .8;
				}
			}
		}
	}

	&__image {
		display: flex;
		justify-content: center;
		height: 160px;
		transition: height .3s;

		& img {
			object-fit: contain;
		}

		@media only screen and (max-width: 769px) {
			height: 130px;
		}
	}

	&__name {
		font-size: 18px;
		line-height: 25px;
		font-weight: 600;
		color: #214250;
		text-align: center;
		text-transform: uppercase;
		transition: opacity .3s;

		@media only screen and (max-width: 769px) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__arrow {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #79BF1B;
		transition: background-color .3s;

		background-image: url("../img/arrow-down.svg");
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__labels {
		max-width: 80%;
		position: relative;
		z-index: 1;
		align-self: flex-start;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 8px;

		@media only screen and (max-width: 769px) {
			display: none;
		}
	}

	&__label {
		padding: 10px;
		border-radius: 10px;
		background-color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		color: #214250;
	}

	&--page {
		overflow: hidden;

		.equipment__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			// gap: 38px;
		}

		.equipment__item {
			flex-grow: 1;

			&:nth-child(1) {
				max-width: 38.89%;
			}

			&:nth-child(2) {
				max-width: 30.56%;
			}

			&:nth-child(3) {
				max-width: 22.22%;
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				max-width: 31.25%;
			}

			&:nth-child(9) {
				max-width: 38.89%;
			}

			&:nth-child(8) {
				max-width: 30.56%;
			}

			&:nth-child(7) {
				max-width: 22.22%;
			}

			@media only screen and (max-width: 1800px) {
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(9),
				&:nth-child(8),
				&:nth-child(7) {
					width: 44%;
					max-width: none;
					min-height: 300px;
				}
			}

			@media only screen and (max-width: 1000px) {
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(9),
				&:nth-child(8),
				&:nth-child(7) {
					width: 100%;
					min-height: auto;
				}
			}
		}

		.equipment__link {
			padding: 22px 30px;
			justify-content: flex-start;
			gap: 17px;

			@media (hover: hover) {
				&:hover {
					.equipment__arrow {
						background-color: darken($color: #79BF1B, $amount: 15%);
					}

					.equipment__name {
						opacity: .8;
					}

					.equipment__image {
						height: 222px;
					}
				}
			}
		}

		.equipment__image {
			position: absolute;
			top: calc(50% - 111px);
			right: 10px;
			width: auto;
			height: 222px;

			@media only screen and (max-width: 769px) {
				position: relative;
				top: auto;
				height: 130px;
			}
		}

		.equipment__name {
			position: relative;
			z-index: 1;
			width: 100%;
			padding-right: 50px;
			font-size: 24px;
			font-weight: 600;
			line-height: 34px;
			text-align: left;

			@media only screen and (max-width: 1300px) {
				width: auto;
				align-self: flex-start;
				padding: 10px;
				border-radius: 10px;
				background-color: #ffffff;
			}

			@media only screen and (max-width: 769px) {
				text-align: center;
			}
		}
	}
}
