	/* Modern Browsers */
	::placeholder {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
	}

	/* WebKit, Edge */
	::-webkit-input-placeholder {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
	}

	/* Firefox 4-18 */
	:-moz-placeholder {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
		opacity: 1; /* Override default Firefox opacity */
	}

	/* Firefox 19+ */
	::-moz-placeholder {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
		opacity: 1; /* Override default Firefox opacity */
	}

	/* IE 10-11 */
	:-ms-input-placeholder {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
	}

	/* Edge */
	::-ms-input-placeholder {
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
	}
.form {


	display: flex;
	flex-direction: column;
	gap: 24px;

	&__input {
		width: 100%;
	}

	&__button {
		width: 100%;
	}

	&__checkbox {
		display: none;
	}

	&__wrapper {
		&--agreement {
			opacity: .5;
		}
	}

	& textarea {
		height: 94px;
		resize: none;

		&::-webkit-scrollbar,
		&::-webkit-scrollbar-thumb {
			display: none;
		}
	}

	& input,
	& textarea {
		border: none;
		background-color: #ffffff;
		border-radius: 6px;
		padding: 18px 14px;

		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		color: #214250;
	}

	&__label {
		display: block;
		cursor: pointer;

		&--checkbox {
			color: #214250;
			font-size: 13px;
			line-height: 15px;
		}		
	}

	&__label::before {
		content: "";
		display: inline-block;
		width: 19px;
		height: 19px;
		border: 1px solid #214250;
		margin-right: 10px;
		vertical-align: middle;
	}

	&__checkbox:checked + &__label::before {
		background-image: url("../img/check.svg");
		background-repeat: no-repeat;
		background-position: center center;
	}
}

@media only screen and (max-width: 769px) {
	.form {
		&__label {
			text-align: center;
		}
	}
}