.hero {
	width: 100%;
	min-height: 100vh;
	background-image: url("../img/hero-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right -50px center;
	padding: 160px 0;

	@media (max-width: 1700px) {
		padding: 100px 0;
	}

	@media (max-width: 1400px) {
		background-image: none;
		background: linear-gradient(90.3deg, #F4DBBB 0.51%, #D3A67A 100%);		
	}

	@media (max-width: 1100px) {
		padding: 40px 0;

	}

	&__wrapper {
		width: 55%;
		display: flex;
		flex-direction: column;

		@media (max-width: 1400px) {
			width: 70%;
		}

		@media (max-width: 1100px) {
			width: 100%;
		}
	}

	&__caption {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-family: Peignot;
		font-size: 96px;
		font-weight: 400;
		line-height: 100.32px;
		text-align: left;
		color: #181C1D;

		@media (max-width: 1100px) {
			font-size: 56px;
			line-height: 60px;
		}
	}

	&__subtitle {
		font-family: Onest;
		font-size: 24px;
		font-weight: 500;
		line-height: 30.6px;
		letter-spacing: 0.03em;
		text-align: left;

		@media (max-width: 1100px) {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		column-gap: 42px;
		row-gap: 12px;
		width: 100%;
		flex-wrap: wrap;
		margin-top: 42px;
	}

	&__item {
		display: flex;
		align-items: center;
		position: relative;
		width: 47%;
		padding-left: 20px;
		font-family: Onest;
		font-size: 18px;
		font-weight: 400;
		line-height: 22.95px;
		text-align: left;
		color: #2E3237F5;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: calc(50% - 4px);
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #667884;
		}

		@media (max-width: 1100px) {
			width: 100%;
		}
	}

	&__button {
		margin-top: 64px;
		width: 60%;
		background-color: #CE4C4C;
		color: #ffffff;
		text-transform: uppercase;
		padding: 32px;

		& .icon {
			width: 22px;
			height: 22px;
			border: 1px solid #ffffff;
			padding-left: 2px;
			margin-left: 22px;
		}

		@media (hover: hover) {
			&:hover {
				background-color: darken($color: #CE4C4C, $amount: 15%);
				color: #ffffff;
			}
		}

		@media (max-width: 1100px) {
			margin-top: 24px;
			height: 46px;
			width: 50%;
		}

		@media (max-width: 600px) {
			width: 100%;
		}
	}

	&__slider {
		margin-top: 100px;

		& .slick-list {
			margin-right: 2px;
		}

		/* Последний слайд не будет иметь правого отступа */
		& .slick-list .slick-track > div:last-child {
			margin-right: 0;
		}

		.slick-slide {
			height: 194px;
			background-color: #F3F0E282;
			border-radius: 16px;
			backdrop-filter: blur(18px);
			box-shadow: 0px 4px 32px 0px #AA804F52;
			margin-right: 16px; /* Отступ между слайдами */

			@media only screen and (max-width: 700px) {
				margin-right: 8px;
			}
		}

		.slick-track {
			height: 240px;
		}

		.slick-dots {
			list-style: none; /* Убираем стандартные маркеры списка */
			display: flex; /* Используем flex для выравнивания точек */
			justify-content: center; /* Центрируем точки горизонтально */
			gap: 8px; /* Расстояние между точками */
			padding: 0; /* Убираем отступы */
			margin: 0; /* Убираем внешние отступы */
		}

		.slick-dots li button::before {
			content: '';
			width: 8px; /* Размер точки */
			height: 8px;
			background-color: #FFFFFFA3; /* Цвет неактивной точки */
			border-radius: 50%; /* Круглая форма */
			display: inline-block;
			transition: background-color .3s;
		}

		.slick-dots button {
			width: 8px; /* Ширина кнопки */
			height: 8px; /* Высота кнопки */
			border-radius: 50%; /* Делаем кнопки круглыми */
			background-color: #FFFFFFA3; /* Цвет неактивных кнопок */
			cursor: pointer; /* Указатель мыши при наведении */
			padding: 0; /* Убираем внутренние отступы */
			border: none; /* Убираем границы */
			font-size: 0;
		}

		.slick-dots .slick-active button::before { /* Стилизация активной точки */
			background-color: #AA804F; /* Цвет активной точки */
		}

		@media (max-width: 1400px) {
			margin-top: 50px;
		}
	}

	&__slide {
		display: flex;
		padding: 16px;
		gap: 20px;

		&-img {
			width: 160px;
			height: 160px;
			display: flex;
			justify-content: center;
			align-items: center;

			& img {
				height: 153px;
				object-fit: contain;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			padding: 16px 24px 16px 0;
			margin: 0 auto;

			@media only screen and (max-width: 700px) {
				padding: 5px;
			}
		}

		&-caption,
		&-name {
			font-family: Optima;
			font-size: 18px;
			font-weight: 400;
			line-height: 21.6px;
			text-align: left;

			@media only screen and (max-width: 700px) {
				font-size: 16px;
				line-height: 18px;
			}
		}

		&-name {
			font-weight: 700;

			@media only screen and (max-width: 700px) {
				font-weight: 600;
			}
		}

		&-link {
			flex-shrink: 0;
			margin-top: auto;
			background-color: #D8B075A3;
			color: #755530;
			text-transform: uppercase;
			padding: 16px;
			width: 240px;
			margin-left: 0 auto;

			@media only screen and (max-width: 700px) {
				padding: 12px 4px;
				font-size: 10px;
				line-height: 13px;
				width: 132px;
			}

			@media (hover: hover) {
				&:hover {
					background-color: darken($color: #D8B075A3, $amount: 20%);
					color: #ffffff;
				}
			}
		}

		@media only screen and (max-width: 700px) {
			gap: 10px;
		}
	}
}