.reg {
	padding: 50px 0;

	&__header {
		position: relative;
		display: flex;
		gap: 32px;
		align-items: center;
		padding-bottom: 42px;
		margin-bottom: 53px;

		&::before {
			position: absolute;
			z-index: 1;
			content: '';
			bottom: 1px;
			width: 60%;
			height: 1px;
			background-color: #D8B075;
		}

		&::after {
			position: absolute;
			z-index: 2;
			content: '';
			bottom: 0;
			width: 30%;
			height: 3px;
			background-color: #AA804F;
		}

		&-text {
			display: inline-block;
			width: 50%;
			margin-top: -18px;
			font-family: Optima;
			font-size: 42px;
			font-weight: 400;
			line-height: 54.6px;
			letter-spacing: -0.01em;
			text-align: left;
			color: #181C1D;
			text-transform: uppercase;
		}

		@media (max-width: 900px) {
			flex-direction: column;
			
			&::before {
				width: 100%;
			}
	
			&::after {
				left: 0;
				width: 50%;
			}
	
			&-value {
				font-size: 150px;
				font-weight: 400;
				line-height: 190px;
			}
	
			&-text {
				font-size: 32px;
				line-height: 45px;
				width: 100%;
				text-align: center;
			}
		}
	}

	&__notice {
		display: inline-block;
		margin-bottom: 32px;
		width: 33%;
		font-family: Onest;
		font-size: 18px;
		font-weight: 400;
		line-height: 22.95px;
		text-align: left;
		color: #2E3237A3;

		@media (max-width: 1400px) {
			width: 100%;
		}
	}
}

.reg__form {
	display: flex;
	row-gap: 16px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	& input, button, .form__wrapper--agreement {
		width: 32%;
		max-width: 452px;

		@media (max-width: 1000px) {
			width: 48%;
		}

		@media (max-width: 700px) {
			width: 100%;
			max-width: 100%;
		}
	}	
	
	& button {
		height: 68px;

		@media (max-width: 1000px) {
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}